### WordPress ###

# macOS/IDE
.DS_Store
Thumbs.db

# IDE Files
.devcontainer/*
.devcontainer.json
.vscode
.idea
*.sublime-project
*.sublime-workspace

# Log files
*.log
/tests/logs

# Dependencies
/vendor/
/node_modules/

# Build output
build/
build-module/
build-types/
wp-graphql-gravity-forms.zip

# Environment
.env
.env.*
!.env.dist

# AI files
.gemini/
.claude/
AGENTS.md
GEMINI.md
CLAUDE.md

# Cache
.phpunit.result.cache

# Test output
/tests/_output/*
!/tests/_output/.gitkeep
/tests/e2e/artifacts
tests/*.suite.yml
c3.php

# Configs
/phpcs.xml
/phpunit.xml
/phpstan.neon

# WP ENV
/.wp-env.override.json

# Tests & Coverage
/coverage/

# TypeScript
*.tsbuildinfo

