# Hidden files
.DS_Store
Thumbs.db

# IDE Files
.devcontainer/*
.devcontainer.json
.vscode
.idea

# Environment variables for testing
.env
.env.*
!.env.dist

# Ruleset Overrides
phpcs.xml
phpstan.neon

# Directory to generate the dist zipfile
plugin-build

# Composer auth
auth.json

# Composer deps
vendor

# Generated Schema used in some tooling. Versioned Schema is uploaded as a Release artifact to Github.
schema.graphql

# WP CLI config overrides
wp-cli.local.yml

# Tests
*.sql
!tests
tests/*.suite.yml
coverage/*
