/bin export-ignore
/img export-ignore
/tests export-ignore
/docker export-ignore
/docs export-ignore
/phpstan export-ignore
/codeception.yml export-ignore
/composer.lock export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml.dist export-ignore
/.coveralls export-ignore
/.distignore export-ignore
/.dockerignore export-ignore
/.env.dist export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.phpcs.xml.dist export-ignore
