# Automatically normalize line endings.
* text=auto

# Files and directories to exclude from the generated archive (export-ignore).
# These will be omitted from GitHub/Packagist ZIP archives to keep packages small.
/bin export-ignore
/docker export-ignore
/docs export-ignore
/phpstan export-ignore
/plugin-build export-ignore

# Tests and test fixtures
/tests/ export-ignore
codecov.yml export-ignore
codeception.dist.yml export-ignore

# PHP unit / static analysis configs.
/phpcs.xml.dist export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml.dist export-ignore

# Continuous Integration configs.
/.github export-ignore
/.wordpress-org export-ignore

# Node and build artifacts.
package.json export-ignore
package-lock.json export-ignore
/composer.lock export-ignore
/webpack.config.js export-ignore

# Don't include the dotfiles for distribution.
/.* export-ignore

# Mark docs as documentation for GitHub Linguist.
/docs/ linguist-documentation export-ignore
/CHANGELOG.md linguist-documentation export-ignore
/CONTRIBUTING.md linguist-documentation export-ignore
/SECURITY.md linguist-documentation export-ignore

# Keep license and readme files.
/LICENSE.md linguist-documentation
/README.md linguist-documentation
/README.txt linguist-documentation
