!.env.dist
!tests
!vendor/
!vendor/autoload.php
!vendor/composer
.DS_Store
.env
.env.*
.github_changelog_generator
.idea
.log/
.vscode
*.sql
*.tar.gz
*.zip
build/
composer.lock
coverage/*
node_modules/
phpcs.xml
phpunit.xml
schema.graphql
tests/*.suite.yml
Thumbs.db
vendor/*
vendor/composer/*/
vendor/composer/installed.json
wp-cli.local.yml
