version: '3.3'

services:
  app:
    depends_on:
      - app_db
    image: wp-graphql-gravity-forms:latest-wp${WP_VERSION-6.2}-php${PHP_VERSION-8.0}
    volumes:
      - .:/var/www/html/wp-content/plugins/wp-graphql-gravity-forms
      - ./.log/app:/var/log/apache2
    env_file:
      - .env
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0
    environment:
      WP_URL: http://localhost:8091
      USING_XDEBUG: ${USING_XDEBUG:-}
    ports:
      - '8091:80'
    networks:
      local:

  app_db:
    image: mariadb:10
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE:      wordpress
      MYSQL_USER:          wordpress
      MYSQL_PASSWORD:      wordpress
    ports:
      - '3306'
    networks:
      testing:
      local:

  testing:
    depends_on:
      - app_db
    image: wp-graphql-gravity-forms-testing:latest-wp${WP_VERSION-6.0}-php${PHP_VERSION-8.1}
    volumes:
      - .:/var/www/html/wp-content/plugins/wp-graphql-gravity-forms
      - ./.log/testing:/var/log/apache2
    env_file:
      - .env
    environment:
      SUITES: ${SUITES:-}
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0
    networks:
      testing:

networks:
  local:
  testing:
