parameters:
		level: 8
		checkAlwaysTrueCheckTypeFunctionCall: true
		checkAlwaysTrueInstanceof: true
		checkAlwaysTrueStrictComparison: true
		checkExplicitMixedMissingReturn: true
		checkFunctionNameCase: true
		checkInternalClassCaseSensitivity: true
		checkTooWideReturnTypesInProtectedAndPublicMethods: true
		inferPrivatePropertyTypeFromConstructor: true
		polluteScopeWithAlwaysIterableForeach: false
		polluteScopeWithLoopInitialAssignments: false
		reportAlwaysTrueInLastCondition: true
		reportStaticMethodSignatures: true
		reportWrongPhpDocTypeInVarTag: true
		treatPhpDocTypesAsCertain: false
		dynamicConstantNames:
			- WPGRAPHQL_GF_AUTOLOAD
		stubFiles:
			# Simulate added properties
			- phpstan/class-app-context.php
			- phpstan/class-gf-quiz.php
		bootstrapFiles:
			- phpstan/constants.php
		paths:
			- wp-graphql-gravity-forms.php
			- activation.php
			- deactivation.php
			- src/
		scanDirectories:
			- ../gravityforms/
			- ../gravityformssignature/
			- ../gravityformschainedselects/
			- ../gravityformsquiz/
			- ../wp-gatsby/
			- ../wp-jamstack-deployments/
		scanFiles:
			- vendor/axepress/wp-graphql-stubs/wp-graphql-stubs.php
