parameters:
		level: 8
		inferPrivatePropertyTypeFromConstructor: true
		checkMissingIterableValueType: false
		featureToggles:
			disableRuntimeReflectionProvider: true
		stubFiles:
			# Simulate added properties
			- phpstan/class-app-context.stub
			- phpstan/class-gf-quiz.stub
		bootstrapFiles:
			- phpstan/constants.php
			- wp-graphql-gravity-forms.php
		paths:
			- wp-graphql-gravity-forms.php
			- src/
		scanDirectories:
			- ../wp-graphql/
			- ../gravityforms/
			- ../gravityformssignature/
			- ../gravityformschainedselects/
			- ../gravityformsquiz/
			- ../wp-gatsby/
			- ../wp-jamstack-deployments/
		ignoreErrors:
			- '#^Function apply_filters(_ref_array)? invoked with ([1-9]|1[0-2]) parameters, 2 required\.$#'
			- '#^Function gf_apply_filters(_ref_array)? invoked with ([1-9]|1[0-2]) parameters, 2 required\.$#'
			- '#^Function gf_do_action invoked with ([1-9]|1[0-2]) parameters, 1 required\.$#'



