parameters:
		level: 8
		checkAlwaysTrueCheckTypeFunctionCall: true
		checkAlwaysTrueInstanceof: true
		checkAlwaysTrueStrictComparison: true
		checkExplicitMixedMissingReturn: true
		checkFunctionNameCase: true
		checkInternalClassCaseSensitivity: true
		checkTooWideReturnTypesInProtectedAndPublicMethods: true
		inferPrivatePropertyTypeFromConstructor: true
		polluteScopeWithAlwaysIterableForeach: false
		polluteScopeWithLoopInitialAssignments: false
		reportAlwaysTrueInLastCondition: true
		reportStaticMethodSignatures: true
		reportWrongPhpDocTypeInVarTag: true
		treatPhpDocTypesAsCertain: false
		dynamicConstantNames:
			- WPGRAPHQL_GF_AUTOLOAD
		stubFiles:
			# Simulate added properties
			- phpstan/class-app-context.php
			- phpstan/class-gf-quiz.php
		bootstrapFiles:
			- phpstan/constants.php
			- wp-graphql-gravity-forms.php
		paths:
			- wp-graphql-gravity-forms.php
			- src/
		scanDirectories:
			- ../wp-graphql/
			- ../gravityforms/
			- ../gravityformssignature/
			- ../gravityformschainedselects/
			- ../gravityformsquiz/
			- ../wp-gatsby/
			- ../wp-jamstack-deployments/
		ignoreErrors:
			- '#^Function gf_apply_filters(_ref_array)? invoked with ([1-9]|1[0-2]) parameters, 2 required\.$#'
